              /* Header Section */

              
*{
  margin: 0;
  padding: 0;
}            
  
.header-section{
  width: 100%;
  background-color: #f5f7fa;
}

.wrapper{
  width: 1140px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
}

.head-inner{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

/* Logo */

.logo{
  cursor: pointer;
}
.logo img{
  width: 175px;
}

/* Menubar */
.menubar ul li{
  display: inline-block;
  list-style: none;
  margin: 25px 15px;
}
.menubar ul li a{
  text-decoration: none;
  color: #0e72cc;
  font-size: 16px;
}
.menubar ul li a:hover{
  text-decoration: underline;
}

/* Dual Buttons */
.btns{
  margin-top: 10px;
}
.btns a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.btns button{
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0e72cc;
  border-style: none;
  border-radius: 3px;
  transition: all .6s ease;
}
.btns button:hover{
  background-color: #0d365a;
  transform: translateY(-5px);
}

       
            /* Course Section */

.course-section{
  width: 100%;
  padding: 50px 0px;
}

.wrapper{
  width: 1140px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
}

/* Course-inner */

.course-inner h4{
  text-decoration: none;
  font-weight: 500;
  color: #4E4E4E;
  margin: 100px 0;
  line-height: 1.5;
}
.course-inner h4 a{
  text-decoration: none;
  font-weight: 500;
  color: #4E4E4E;
}
.course-inner h2{
  font-size: 28px;
  font-weight: 700;
  color: #0e72cc;
  margin-bottom: 50px;
}

/* Course-head */

.course-head{
  display: flex;
}
.course{
  width: 214px;
  margin-right: 10px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}
.course img{
  width: 80px;
  display: block;
  margin: 0 auto;
}
.course h3{
  font-size: 16px;
  font-weight: 400;
  color: #4E4E4E;
  padding-top: 20px;
  text-align: center;
}

            /* Newsletter Section */

.newsletter-section{
  width: 100%;
  padding: 80px 0;
}

.newsletter-inner{
  background-color: #0e72cc;
  border-radius: 8px;
  padding: 100px 60px 80px;
  text-align: center;
}

.newsletter-inner h2{
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.newsletter-inner p{
  color: #fff;
  font-weight: 400;
  line-height: 1.9;
}

            /* Footer Section */

.footer-section{
  width: 100%;
}

/* Footer Content */

.footer-head{
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}
.footer-content{
  width: 25%;
  margin-right: 20px;
}

.footer-content h2{
  font-size: 16px;
  color: #0e72cc;
  padding-bottom: 15px;
}
.footer-content p{
  font-size: 16px;
  font-weight: 400;
  color: #91a3bb;
  line-height: 1.9;
}

.footer-content ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-content ul li a{
  color: #91a3bb;
  text-decoration: none;
  line-height: 28px;
  transition: 0.5s;
}
.footer-content ul li a:hover{
  color: #0e72cc;
  text-decoration: underline;
  transition: 0.5s;
}

.footer-content1  h2{
  font-size: 16px;
  color: #0e72cc;
  padding-bottom: 15px;
}
.footer-content1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-content1 ul li a{
  font-size: 13px;
  color: #91a3bb;
  text-decoration: none;
  line-height: 30px;
  animation-duration: 2s;
  animation-name: spin;
}
.footer-content1 ul li a i{
  border: 1px solid #91a3bb;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  transition: 0.5s;
}
.footer-content1 ul li a i:hover{
  color: #0e72cc;
  background-color: #fff;
  border-color: #0e72cc;
  transition: 0.5s;
  transform: rotate(360deg);
  scale: 1.1;
}


/* Footer Image  */

.footer-img{
  margin-top: 30px;
}
.footer-img img{
  width: 100%;
  height: auto;
}

/* Copyright */
.footer-copyright{
  text-align: center;
  margin-top: 20px;
}
.footer-copyright p{
  font-size: 14px;
  color: #0e72cca1;
  padding: 10px 0;
  margin: 0px auto;
}